*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: hwb(261 8% 81%);
    color: #fff;
    background-color: rgb(29, 16, 43);
}
#header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 5%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size:  18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #aa5cdd;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    font-size: 80px;
    text-align: center;
    font-weight: bold;
}
.header-text h1{
    font-size: 30px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: auto;
}
.header-text a{
    opacity: 0;
}

/* ------------about----------------- */
#about{
    padding: 80px 0;
    color: #fff;
    text-align: center;
}
.row{
    display: block;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #fff;
    font-size: 25px
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*---------------services--------------------*/
#services{
    padding: 30px 0;
    background-position: center;
}
.services-list{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #9952d37e;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.services-list div h2{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: center;
}
.services-list div p{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: center;
}
.services-list div h3{
    font-size: 20px;
    font-weight: 350;
    margin-bottom: 15px;
    margin-left: 3%;
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
}
.services-list div:hover{
    background: #aa5cdd;
    transform: translateY(-10px);

}
/*---------------Product Demos--------------------*/
#demos{
    padding: 50px 0;
}
.demos1{
    display: block;
    margin-top: 50px;
}
.win{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.win img{
    width: 60%;
    height: auto;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.post{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.post img{
    width: 40%;
    height: auto;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    margin-left: auto;
    margin-right: auto;
}



/* I think displaying position as absolute shows text over the image */
/*
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #9a759b59);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.win:hover img{
    transform: scale(1.1);
}
.win:hover .layer{
    height: 100%;
}
*/

/*---------------contact--------------------*/
.contact-left{
    flex-basis: 35%;
}
.contact-left p{
    margin-top: 30px;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: center;
}
.contact-left p i{
    color: #aa5cdd;
    margin-right: 15px;
    font-size: 25px;
}

/*---------------privacy--------------------*/
.privacy-col-1{
    flex-basis: 35%;
}

.privacy-col-1 h2{
    margin-top: 100px;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: left;
}

.privacy-col-1 p{
    margin-top: 50px;
    font-size: 10px;
    font-weight: 200;
    margin-bottom: 30px;
    text-align: left;
}

/*---------------tos--------------------*/
.tos-col-1{
    flex-basis: 35%;
}
.tos-col-1 h2{
    margin-top: 100px;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: left;
}

.tos-col-1 p{
    margin-top: 50px;
    font-size: 10px;
    font-weight: 200;
    margin-bottom: 30px;
    text-align: left;
}

